.container {
    display: grid;
    width: 960px;
    height: 960px;
    box-sizing: border-box;
    border: 2px solid black;
}

.square {
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
}